@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.logo {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 2.5rem;
  font-weight: 1000;
}

div.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

div.main > div.hero {
  background: linear-gradient(#4e6d7c, #85b3bb);
  width: 55%;
  text-align: center;
  display: flex;
  height: 100vh;
  color: #e6eff1;
  font-size: 150%;
}

div.main > div.hero > div.hero-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.main > div.cta {
  color: #85b3bb;
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
h4 {
  padding-bottom: 50px;
}

.google-button {
  padding-top: 1200px;;
  height: 40px;
  border-width: 0;
  background: #4285F4;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #fff;
  padding: 1%;
  border-radius: 10%;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}


/* ===================
user page
===================   */

.user-portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===================
regis vaccination page
===================   */

.vacc-bg {
  background: linear-gradient(#4e6d7c, #85b3bb);
  height: 100vh;
}
