@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --pri-clr: #e6eff1;
  --sec-clr: #85b3bb;
  --tri-clr: #4e6d7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

div.main > div.hero {
  background: linear-gradient(var(--tri-clr), var(--sec-clr));
  width: 55%;
  text-align: center;
  display: flex;
  height: 100vh;
  color: var(--pri-clr);
  font-size: 150%;
}

div.main > div.hero > div.hero-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.main > div.cta {
  color: var(--sec-clr);
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
h4 {
  padding-bottom: 50px;
}

.google-button {
  padding-top: 1200px;
  height: 40px;
  border-width: 0;
  background: #4285f4;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #fff;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #fff;
  padding: 1%;
  border-radius: 10%;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

/* ===================
user page
===================   */
.light-bg {
  background: var(--pri-clr);
  padding: 0 5%;
  color: #fff;
}

.user-profile {
  width: 40vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--sec-clr);
}

.user-profile-basic{
  font-weight: bold;
}

.user-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 5%;
}

.user-upcoming {
  padding-top: 5%;
  text-align: center;
}

.user-upcoming > h2 {
  margin: 2%;
}

.upcoming-box {
  margin: 5% auto;
  width: auto;
  height: 250px;
  background: var(--tri-clr);
  overflow: scroll;
  border-radius: 10px;
}

.one-check {
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
}

.user-vaccine-add,
.user-vaccine-remove {
  width: 200px;
  background-color: var(--tri-clr);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 32px;
  text-decoration: none;
}

.user-vaccines {
  width: 50%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: auto;;
}

.collapse {
  color: var(--tri-clr);
}
