<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}

<div class="register">
  <div class="main-reg">
    <h1>Personal Information</h1>
    <form>
        <div class="row m-auto">
          <hr class="seperator-line" />
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group-reg">
                    {{ field.label_tag }}
                    {{ field }} 
                  </div>
                {% endfor %}
              </form>
            </div>
          </div>
          <center><button class="next" type="submit" formmethod="post">Next</button></center>
      </form>
      
  </div>
</div>



{% endblock %}