<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}

<div class="register">
  <header class="logo">
    VACSEEN
  </header>
  <div class="main-reg">
    <h1>Personal Information</h1>
    <form>
      <div class="row m-auto">
        <hr class="separator-line">
        </hr>
        <div class="col-lg-6" id="contel-col">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group-reg">
                {{ field.label_tag }}
                {{ field }} <br />
              </div>
            {% endfor %}
            <button type="submit" formmethod="post">Sign up</button>
          </form>
        </div>
        <div class="col-lg-6" id="profile-col">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload" id="imageUploadlabel"></label>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
              </div>
            </div>
          </div>
          <button type="submit" class="next"><a href="{% url 'users:vaccination' %}">Next</a></button>
        </div>

      </div>
    </form>
  </div>

</div>



{% endblock %}

{% load staticfiles %}
<script src="{% static "js/script.js" %}"></script>