{% extends 'base.html' %}

{% block content %}
<div class="vacc-bg m-auto">
    <!-- <header>
        <div class="logo">VACSEEN</div>
    </header> -->

    <div class="col-lg-8 m-auto">
        <div class="page-title">Vaccination</div>
        <hr class="seperator-line" />

        <div class="row m-auto">
            <div class="dot-outer">
                <div class="dot-inner"></div>
            </div>
        <input class="col-lg-6 form-control-vacc vacc-name" placeholder="Vaccine name" />
            <select class="col-lg-2 form-control-vacc vacc-dose">
                <option selected>Dose 1</option>
                <option>Dose 2</option>
            </select>
            <input class="col-lg-2 form-control-vacc vacc-date" type="date" max="3000-12-31" placeholder="Expired" />
        </div>

        <div class="row m-auto">
            <div class="dot-outer">
                <div class="dot-inner"></div>
            </div>
            <input class="col-lg-6 form-control-vacc vacc-name" placeholder="Vaccine name" />
            <select class="col-lg-2 form-control-vacc vacc-dose">
                <option selected>Dose 1</option>
                <option>Dose 2</option>
            </select>
            <input class="col-lg-2 form-control-vacc vacc-date" type="date" max="3000-12-31" placeholder="Expired" />
        </div>

        <div class="row m-auto">
            <div class="dot-outer">
                <div class="dot-inner"></div>
            </div>
            <input class="col-lg-6 form-control-vacc vacc-name" placeholder="Vaccine name" />
            <select class="col-lg-2 form-control-vacc vacc-dose">
                <option selected>Dose 1</option>
                <option>Dose 2</option>
            </select>
            <input class="col-lg-2 form-control-vacc vacc-date" type="date" max="3000-12-31" placeholder="Expired" />
        </div>

        <div class="row m-auto"><button class="add-vac-btn">
                <p>+</p>
            </button></div>

        <div class="terms-box mx-auto">
            <h5 class="terms-title">Terms and Conditions</h5>
            <p class="terms-sub">&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                magni veritatis, odit, autem dolorum
                temporibus molestiae quam itaque eos velit atque quia voluptates nihil quae ut rerum alias. Numquam,
                nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni veritatis, odit,
                autem dolorum
                temporibus molestiae quam itaque eos velit atque quia voluptates nihil quae ut rerum alias. Numquam,
                nostrum. </p>
        </div>
        <div style="padding-top: 30px; padding-left: 5%;" class="form-check terms-check m-auto">
            <input style="margin-top: 1px;" class="form-check-input" type="checkbox" value="" id="terms-check-box">
            <label class="form-check-label terms-check-text" for="defaultCheck1">
                <h6>I have read and agree to the terms and conditions</h6>
            </label>
        </div>

        <button type="button" class="save-btn float-right" onclick="">Save</button>
    </div>
</div>
{% endblock %}