{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="vacc-bg m-auto">

    <div class="col-lg-8 m-auto">
        <div class="page-title">Vaccination</div>
        <hr class="seperator-line" />

        <div class="vaccgroup">
            <div class="row m-auto">
                <form method="post" class="col-lg-12">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div style="display: inline;" class="form-row">
                        <div class="dot-outer">
                            <div class="dot-inner"></div>
                        </div>
                        {{ form.vaccine_name }}
                        <datalist placeholder="Vaccine name" id="vaccine">
                            <option value="BCG">
                            <option value="Diphtheria Tetanus toxoids and Pertussis (DTP)">
                            <option value="HPV">
                            <option value="Haemophilus influenzae type b (PRP-T) -- Start at 12-24 month">
                            <option value="Haemophilus influenzae type b (PRP-T) -- Start at 2-6 month">
                            <option value="Hepatitis A">
                            <option value="Hepatitis B">
                            <option value="Japanese Encephalitis (JE)">
                            <option value="Measles Mumps and Rubella (MMR)">
                            <option value="Neisseria meningitidis polysaccharide (MCV4) -- Start at 9-23 month">
                            <option value="Neisseria meningitidis polysaccharide (MCV4)">
                            <option value="Neisseria meningitidis polysaccharide (MPSV 4)">
                            <option value="Pneumococcal vaccine">
                            <option value="Poliomyelitis (IPV)">
                            <option value="Poliomyelitis (OPV) -- (Drop ver.)">
                            <option value="Quadrivalent Influenza vaccine">
                            <option value="Rabies (after touching)">
                            <option value="Rabies (before touching)">
                            <option value="Rotavirus (monovalent)">
                            <option value="Rotavirus (pentavalent)">
                            <option value="Streptococcus pneumoniae 10-valent conjugate (PCV-10) -- Start at 2-5 years">
                            <option value="Streptococcus pneumoniae 10-valent conjugate (PCV-10) -- Start at 2-6 month">
                            <option value="Streptococcus pneumoniae 10-valent conjugate (PCV-10) -- Start at 7-23 month">
                            <option value="Streptococcus pneumoniae 23-valent polysaccharide ( >2 years)">
                            <option value="Streptococcus pneumoniae 23-valent polysaccharide ( >65 years)">
                            <option value="Varicellazoster -- Start at 1-12 years">
                            <option value="Varicellazoster -- Start at 13 years">
                            <option value="Zoster vaccine">
                        </datalist>
                        {{ form.dose_count }}
                        <div class="vacc-date">
                            {{ form.date_taken }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row m-auto">
                        <button class="add-form-row add-vac-btn">
                            <p>+</p>
                        </button>
                    </div>
                    <div class="terms-box mx-auto">
                        <h5 class="terms-title">Terms and Conditions</h5>
                        <p class="terms-sub">&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Impedit
                            magni veritatis, odit, autem dolorum
                            temporibus molestiae quam itaque eos velit atque quia voluptates nihil quae ut rerum alias.
                            Numquam,
                            nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni veritatis,
                            odit,
                            autem dolorum
                            temporibus molestiae quam itaque eos velit atque quia voluptates nihil quae ut rerum alias.
                            Numquam,
                            nostrum. </p>
                    </div>
                    <div style="padding-top: 30px; padding-left: 5%;" class="form-check terms-check m-auto">
                        <label class="form-check-label terms-check-text" for="terms-check-box">
                            <input required style="margin-top: 1px;" class="form-check-input" type="checkbox" value=""
                            id="terms-check-box">
                            <h6>I have read and agree to the terms and conditions</h6>
                        </label>
                    </div>
                    <button type="submit" class="save-btn float-right" formmethod="post">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src=" {% static 'js/vaccination.js' %}"></script>
{% endblock %}

{% endblock %}