@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --pri-clr: #e6eff1;
  --sec-clr: #85b3bb;
  --tri-clr: #4e6d7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.logo {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 2.5rem;
  font-weight: 1000;
  color: #e6eff1;
}

div.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

div.main > div.hero {
  background: linear-gradient(var(--tri-clr), var(--sec-clr));
  width: 55%;
  text-align: center;
  display: flex;
  height: 100vh;
  color: var(--pri-clr);
  font-size: 150%;
}

div.main > div.hero > div.hero-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.main > div.cta {
  color: var(--sec-clr);
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
h4 {
  padding-bottom: 50px;
}

.google-button {
  padding-top: 1200px;
  height: 40px;
  border-width: 0;
  background: #4285f4;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #fff;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #fff;
  padding: 1%;
  border-radius: 10%;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

/* ===================
register page
===================   */
div.register {
  background: linear-gradient(#4e6d7c, #85b3bb);
  color : white ;
  margin : 0px ;
  
}

div.main-reg {
  width: 100vw ;
  height: 100vh;
}

div.main-reg h1{
  text-align: center ;
  color: white;
  font-weight:bold;
  padding-top : 10px ;
  padding-bottom : 10px ;
}

div.form-group-reg {
  padding-left : 15rem ;
  padding-bottom: 1rem; 
  width : 100% ; 
}

.form-control-reg {
  display: block ;
  padding : 10px ;
  width : 100% ;
  height: 40px;
  border : 0px ;
  border-radius: 10px ;
  border-width: 0.05em ;
  background-color: rgba(255, 255, 255, 0.6);
}

.next {
  text-align: left;
  color: white ;
  background: transparent;
  border : transparent ;
  font-size: 30px ;
  padding-left : 500px ;
  padding-top : 18rem ;
  padding-right: 2em;
  
}

.avatar-upload {
  padding-left : 8rem ;
  position: relative;
  /* max-width: 205px; */
  
}

.avatar-edit {
  position: absolute;
  padding-left: 11rem;
  /* right: 12px; */
  z-index: 1;
  top: 10px;
}
#imageUpload{
  display: none;
}
#imageUploadlabel {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
#imageUploadlabel:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
#imageUploadlabel:after {
  padding-left: 11rem;
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 15rem;
  height: 15rem;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
#imagePreview{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* ===================
user page
===================   */
.light-bg {
  background: var(--pri-clr);
  padding: 0 5%;
  color: #fff;
}

.user-profile {
  width: 40vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--sec-clr);
}

.user-profile-basic{
  font-weight: bold;
}

.user-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 5%;
}

.user-upcoming {
  padding-top: 5%;
  text-align: center;
}

.user-upcoming > h2 {
  margin: 2%;
}

.upcoming-box {
  margin: 5% auto;
  width: auto;
  height: 250px;
  background: var(--tri-clr);
  overflow: scroll;
  border-radius: 10px;
}

.one-check {
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
}

.user-vaccine-add,
.user-vaccine-remove {
  width: 200px;
  background-color: var(--tri-clr);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 32px;
  text-decoration: none;
}

.user-vaccines {
  width: 50%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: auto;;
}

.collapse {
  color: var(--tri-clr);
}

/* ===================
regis vaccination page
===================   */

div.vacc-bg {
  position: relative;
  min-height: 150%;
  background: linear-gradient(#4e6d7c, #85b3bb);
  background-size: cover;
}

div.page-title {
  padding-top: 3%;
  text-align: center;
  color: #e6eff1;
  font-size: 40px;
  font-weight: bold;
}

.seperator-line {
  width: 70%;
  text-align: center;
  border: 0.5px solid #e6eff1;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

div.dot-outer {
  background: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  margin: 7px 0px 0px 8px;
}

div.dot-inner {
  content: "";
  position: absolute;
  background: #4e6d7c;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  margin: -7px 0px 0px -8px;
}

.add-vac-btn {
  width: 35px;
  height: 35px;
  font-size: 40px;
  color: #4E6C7C;
  border: none;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  margin: 0px 0px 0px -10px;
}
.add-vac-btn p {
  position: relative;
  top: -12px;
}
.add-vac-btn:focus {
  box-shadow: 0 0 1pt 2pt rgb(190, 207, 216);
  outline: none;
}

.form-control-vacc {
  /* display: inline; */
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #BECCD2;
  color: black;
  margin-bottom: 2%;
}

.vacc-name {
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 2%;
  width: 350px;
  padding-left: 1%;
}

.vacc-dose {
  width: 150px;
  margin-right: 3%;
  padding-left: 1%;
}
.vacc-date {
  display: inline;
}
.vacc-date select {
  background: #BECCD2;
  border: none;
  margin-right: 0.5%;
  border: none;
  height: 40px;
  width: fit-content;
}

.terms-box {
  width: 900px;
  height: 150px;
  overflow: auto;
  background-color: rgb(96, 141, 151);
  padding: 3%;
  padding-left: 4%;
  color: #fff;
  margin-top: 3%;
}

.terms-title {
  font-size: 20px;
  font-weight: bold;
}

.terms-sub {
  font-size: 14px;
}

.terms-check-text {
  color: #fff;
}

.terms-check {
  padding-top: 30px;
  padding-left: 5%;
}

.save-btn {
  background-color: #4E6C7C;
  text-align: center;
  padding: 10px 100px;
  border: none;
  border-radius: 15px;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-right: 5%;
  margin-top: 3%;
}
.save-btn:focus {
  box-shadow: 0 0 1pt 2pt rgb(113, 141, 156);
  outline: none;
}
