{% extends 'vacseenApp/base.html' %}

{% block content %}

<div class="register">
    <header class="logo">
            VACSEEN
    </header>
    <div class="main-reg">
            <h1>Personal Information</h1>
            <form>
                <div class="row m-auto">
                    <hr class="separator-line"></hr>
                    <div class="col-lg-6" id="contel-col">
                        <div class="form-group-reg">
                            <label for="FirstName">First Name *</label>
                            <input type="text" class="form-control-reg" id="firstname"  placeholder="Enter First Name">
                        </div>
                        <div class="form-group-reg">
                            <label for="LastName">Last Name *</label>
                            <input type="text" class="form-control-reg" id="lastname" placeholder="Enter Last Name">
                        </div>
                        <div class="form-group-reg">
                            <label for="PhoneNumber">Phone Number *</label>
                            <input type="tel" class="form-control-reg" id="phonenumber" placeholder="Enter Phone Number">
                        </div> 
                        <div class="form-group-reg">
                            <label for="Gender">Gender</label>
                            <select class="form-control-reg" id="gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group-reg">
                            <label for="example-date-input">Date</label>
                            <input class="form-control-reg" type="date" value="2019-10-31" max="3000-10-31" id="example-date-input">
        
                        </div>
                    </div>
                    <div class="col-lg-6" id="profile-col">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload" id="imageUploadlabel"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="next"><a href="{% url 'vacseenApp:regvaccine' %}">Next</a></button>

                    </div>
                    
                </div>
            </form>
        </div>

</div>



{% endblock %}

{% load staticfiles %}
<script src="{% static "vacseenApp/js/script.js" %}"></script>